<div class="panel-header panel-header-sm">
</div>
<div class="page-center">
<div class="container mt-2">
  <div class="row justify-content-center" >
    <div class="col-md-10">
      <div class="card">
        <a href="/table-list" class="arrows-1_minimal-left" style="float:left;">Back</a>
        <div class="card-header">
          <h5 class="title">Create Campaign</h5>
        </div>
        <div class="card-body">
          <form>
            <!-- Row 1 -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Title</label>
                  <input type="text" class="form-control" [(ngModel)]="campaign.title" name="title" required>
                  <small class="error-message" *ngIf="errorMessages.title">{{ errorMessages.title }}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>About</label>
                  <input type="text" class="form-control" [(ngModel)]="campaign.about" name="about" required>
                  <small class="error-message" *ngIf="errorMessages.about">{{ errorMessages.about }}</small>
                </div>
              </div>
            </div>

            <!-- Row 2 -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Start At</label>
                  <input type="datetime-local" class="form-control" [(ngModel)]="campaign.start_at" name="startAt" required>
                  <small class="error-message" *ngIf="errorMessages.startAt">{{ errorMessages.startAt }}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>End At</label>
                  <input type="datetime-local" class="form-control" [(ngModel)]="campaign.end_at" name="endAt" required>
                  <small class="error-message" *ngIf="errorMessages.endAt">{{ errorMessages.endAt }}</small>
                </div>
              </div>
            </div>

            <!-- Row 3 -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Repeat Threshold</label>
                  <input type="number" class="form-control" [(ngModel)]="campaign.repeat_threshold" name="repeatThreshold" required>
                  <small class="error-message" *ngIf="errorMessages.repeatThreshold">{{ errorMessages.repeatThreshold }}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Repeat Period</label>
                  <input type="string" class="form-control" [(ngModel)]="campaign.repeat_period" name="repeat_period" required>
                  <small class="error-message" *ngIf="errorMessages.repeat_period">{{ errorMessages.repeat_period }}</small>
                </div>
              </div>
            </div>

            <!-- Row 4 -->
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label>SQL</label>
                  <textarea class="form-control" [(ngModel)]="campaign.sql" name="sql" required></textarea>
                  <small class="error-message" *ngIf="errorMessages.sql">{{ errorMessages.sql }}</small>
                </div>
              </div>
            </div>

            <!-- Row 5 -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Mail Subject</label>
                  <input type="text" class="form-control" [(ngModel)]="campaign.mail.subject" name="mailSubject" required>
                  <small class="error-message" *ngIf="errorMessages.mailSubject">{{ errorMessages.mailSubject }}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Mail Content</label>
                  <textarea class="form-control" [(ngModel)]="campaign.mail.content" name="mailContent" required></textarea>
                  <small class="error-message" *ngIf="errorMessages.mailContent">{{ errorMessages.mailContent }}</small>
                </div>
              </div>
            </div>

            <!-- Row 6 -->
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Sender Name</label>
                  <input type="text" class="form-control" [(ngModel)]="campaign.mail.from.name" name="fromName" required>
                  <small class="error-message" *ngIf="errorMessages.fromName">{{ errorMessages.fromName }}</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Reply-To Name</label>
                  <input type="text" class="form-control" [(ngModel)]="campaign.mail.reply_to.name" name="replyToName" required>
                  <small class="error-message" *ngIf="errorMessages.replyToName">{{ errorMessages.replyToName }}</small>
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <button type="submit" (click)="onSubmit()" class="btn btn-primary">Create Campaign</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
